ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 10000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 30px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}

.menu img{
    
    height: 70px;
    margin-right: 10px;
    margin-bottom: -30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body .part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(253, 253, 253);
}


.card {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #092327;
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #092327;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px 092327;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.letter {

    background-color: #092327;
    color: #fff;
    height: 50vh;
    margin: 3%;

    display: flex;
    font-size: large;
    font-family:'arial';
    text-align: justify;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  
}

.parrafo{

    width: 70%;
}
.izq {

background-color:	#cda434;
height: 100vh;
width: 50%;

}
.der {

    background: url(../img/decoracion.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

#pantalla{
    display: flex;

}

.titulo{
color:#092327;


}


